fitbitSiteBaseUrl=http://www.fitbit.com
apiBaseUrl=http://api.fitbit.com
exampleBaseUrl=http://your.application.host/path/

clientConsumerKey=local-fitbit-example-client-application
clientSecret=your.secret.key.from.dev.fitbit.com