html, body { height: 100%; }
	body { background: #ebebeb url(../../img/bg.png) repeat-x; color: #666; cursor: default; font: 13px 'Helvetica', 'Lucida Grande', sans-serif; }
	a { color: #018be3; text-decoration: none; }
	a:hover { text-decoration: underline; }

h1, h2, h3 { font-weight: normal; }
h1 { color: #555; font-size: 32px; padding-bottom: 10px; }
h2, h3 { color: #666; font-size: 20px; padding-bottom: 5px; }
h3 { font-size: 16px; }
p { padding-bottom: 5px; }

.parag { padding: 10px 0; }
	.left { padding-left: 20px; }
	.left.normal { padding-left: 10px; }
		.uppercase { text-transform: uppercase; }

.columns { overflow: hidden; }
	.columns .column { float: left; padding-right: 20px; }
	.columns .column span { color: #666; text-transform: lowercase; }
	.columns .line { padding: 5px; }
	.columns .line.red { color: #f36; font-size: 15px; text-transform: uppercase; }
.blue {}
	.blue th, .blue td { border-right: 1px solid #fff; padding: 5px 10px; }
	.blue th { background: #add8e6; }

.hr { background: #666; clear: both; height: 1px; margin: 20px 0; overflow: hidden; }

.message { background: #d6f68a; border: 1px solid #d4e593; font-weight: bold; margin: 10px 0; padding: 10px 40px; }
.error { background: #f36; border: 1px solid #666; font-weight: bold; margin: 10px 0; padding: 10px 40px; }

.wrap { margin: 0 auto 10px auto; overflow: hidden; width: 975px; }
	.logo { background: url(../../img/logo.png) no-repeat; height: 30px; margin: 10px 0; width: 114px; }
	.content { background: #fff; border: 1px solid #ccc; border-top: 6px solid #3cc; overflow: hidden; padding: 40px 20px 0 20px; }
